{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Bee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="updateCell" action="/{{cell[0]}}/updateCell" method="POST">
    Cell Type: <input type="text" name="cell_type" value ={{cell[1]}} required>
    Location: <input type="text" name="location" value ={{cell[2]}} required>
    Size: <input type="number" name="size" value ={{cell[3]}} required><br>
    <input type="submit" class="wbutton" value="Update">
  </form>
<br/>
{% endblock %}