{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id= "addtask" action="/createTask" method="post">
    Task Type: <input name="task_type" value="{{ request.form['task_type'] }}" required>
    
    Description: <input name="description" value="{{ request.form['description'] }}" required>

    Assignment Length: <input name="assignment_length" value="{{ request.form['assignment_length'] }}" required>
    <br>
    <input type="submit" class="wbutton" value="Submit">
  </form>
{% endblock %}