{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tasks{% endblock %}</h1>
    <a class = "select" href="{{ url_for('task.create') }}">Create Task</a>
{% endblock %}

{% block content %}
<p>DB is connected, CRD works -- U is non functional</p>
<p>Search is non-functional</p>

<table>
  <thead>
    <tr>
      <th> Task Id</th>
      <th> Task Type</th>
      <th> Description</th>
      <th> Assignment Length</th>
      <th> Assigned Bee</th>
      <th> Assigned Cell</th>
      <th> Update</th>
      <th> Delete</th>
    </tr>
  </thead>
  {% for r in rows %}
    <tbody>
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td> Fill Later </td>
        <td> Fill Later</td>
        <td>
          <form action="{{ url_for('task.update', task_id=r.0) }}" method="get">
            <input type="submit" value="Update">
          </form>
        </td>
        <td>    
          <form action="{{ url_for('task.delete', task_id=r.0) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
          </form>
        </td>
      </tr>
    </tbody>
  {% endfor %}
</table>

{% endblock %}