{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tasks{% endblock %}</h1>
    <a class = "select" href="{{ url_for('task.create') }}">Create Task</a>
{% endblock %}

{% block content %}
<p>Task is a special table that represents a plethora of information within the database</p>
<p>Within this table, we have included not only the task entity, but included the Bee_Tasks and Task_Cells tables</p>

<table>
  <thead>
    <tr>
      <th> Task Id</th>
      <th> Task Type</th>
      <th> Description</th>
      <th> Assignment Length</th>
      <th> Assigned Bee</th>
      <th> Assigned Cell</th>
      <th> Update or Delete</th>
    </tr>
  </thead>
  {% for r in rows %}
    <tbody>
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td> Fill Later </td>
        <td> Fill Later</td>
        <td>
          <form action="{{ url_for('task.update', task_id=r.0) }}" method="get">
            <input type="submit" value="Update or Delete">
          </form>
        </td>
      </tr>
    </tbody>
  {% endfor %}
</table>

{% endblock %}