{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Hive Homepage{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1> Bees </h1>
<a class = "select" href="{{ url_for('bee.index') }}">Beelist</a>
<a class = "select" href="{{ url_for('bee.create') }}">Bee create</a>
<a class = "select" href="{{ url_for('bee.index') }}">Bee update</a>

<h1> Cells </h1>
<a class = "select" href="{{ url_for('cell.index') }}">Cell list</a>
<a class = "select" href="{{ url_for('cell.create') }}">Cell create</a>
<a class = "select" href="{{ url_for('cell.index') }}">Cell update</a>

<h1> Tasks </h1>
<a class = "select" href="{{ url_for('task.index') }}">Task list</a>
<a class = "select" href="{{ url_for('task.create') }}">Task create</a>
<a class = "select" href="{{ url_for('task.index') }}">Task update</a>

<h1> Bee Types</h1>
<a class = "select" href="{{ url_for('bee_type.index') }}">Bee Type list</a>
<a class = "select" href="{{ url_for('bee_type.create') }}">Bee Type create</a>
<a class = "select" href="{{ url_for('bee_type.index') }}">Bee Type update</a>

{% endblock %}