{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Hive Homepage{% endblock %} | <a class = "select" href="{{ url_for('search.index') }}">Search Hive</a></h1>
{% endblock %}

{% block content %}
<h1> Bees </h1>
<a class = "select" href="{{ url_for('bee.index') }}">Bee List</a>
<a>&emsp;</a>
<a class = "select" href="{{ url_for('bee.create') }}">Create Bee</a>

<h1> Cells </h1>
<a class = "select" href="{{ url_for('cell.index') }}">Cell List</a>
<a>&emsp;</a>
<a class = "select" href="{{ url_for('cell.create') }}">Create Cell</a>

<h1> Tasks </h1>
<a class = "select" href="{{ url_for('task.index') }}">Task List</a>
<a>&emsp;</a>
<a class = "select" href="{{ url_for('task.create') }}">Create Task</a>

<h1> Bee Types</h1>
<a class = "select" href="{{ url_for('bee_type.index') }}">Bee Type List</a>
<a>&emsp;</a>
<a class = "select" href="{{ url_for('bee_type.create') }}">Create Bee Type</a>

<h1> Bee Tasks</h1>
<a class = "select" href="{{ url_for('bee_task.index') }}">Bee Task List</a>
<a>&emsp;</a>
<a class = "select" href="{{ url_for('bee_task.create') }}">Create Bee Task</a>

<h1> Task Cells</h1>
<a class = "select" href="{{ url_for('task_cell.index') }}">Task Cell List</a>
<a>&emsp;</a>
<a class = "select" href="{{ url_for('task_cell.create') }}">Create Task Cell</a>

{% endblock %}