{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Task Cell{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="addtask_cell" action="/createTask_Cell" method="post">
    Task ID: <select name="task_id">
      {% for task in tasks %}
        <option value="{{task[0]}}"> {{ task[0] }} - {{ task[1] }}</option>
      {% endfor %}
    </select>
    <br>
    Cell ID: <select name="cell_id">
      {% for cell in cells %}
        <option value="{{cell[0]}}"> {{ cell[0] }} - {{ cell[1] }}</option>
      {% endfor %}
    </select>
    <br>
    <input type="submit" value="Submit">
  </form>
<br/>
{% endblock %}