{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Bee Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="addbee_task" action="/createBee_Task" method="post">
    Bee ID: <select name="bee_id">
      {% for bee in bees %}
        <option value="{{bee[0]}}"> {{ bee[0] }} - {{ bee[1] }}</option>
      {% endfor %}
    </select>
    <br>
    Task ID: <select name="task_id">
      {% for task in tasks %}
        <option value="{{task[0]}}"> {{ task[0] }} - {{ task[1] }}</option>
      {% endfor %}
    </select>
    <br>
    <input type="submit" class="wbutton" value="Submit">
  </form>
<br/>
{% endblock %}