{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bee Tasks{% endblock %}</h1>
  <a class = "select" href="{{ url_for('bee_task.create') }}">Create Bee Task</a>
{% endblock %}

{% block content %}
<br>

<table>
  <thead>
    <tr>
      <th> Bee ID</th>
      <th> Task ID</th>
      <th> Delete</th>
    </tr>
  </thead>
  {% for r in rows %}
  <tbody>
    <tr>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
      <td>
        <form action="{{ url_for('bee_task.delete', bee_id=r.0, task_id=r.1) }}" method="POST">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}