{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Bee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="bee">
    <label for="bee_type">Bee type</label>
    <input name="bee_type" value="{{ request.form['bee_type'] }}" required>
    
    <label for="dob">Date of Birth</label>
    <input name="dob" value="{{ request.form['dob'] }}" required>

    <label for="bee_name">Bee Name</label>
    <input name="bee_name" value="{{ request.form['bee_name'] }}" required>

    <input type="submit" value="Save">
  </form>
{% endblock %}