{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Bee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="addbee" action="/createBee" method="post">
    Bee Type: <select name="bee_type">
      {% for type in types %}
        <option value="{{type[0]}}"> {{ type[1] }}</option>
      {% endfor %}
    </select>
    <br>
    Date of Birth: <input type="date" name="dob" required><br>
    Bee Name: <input type="text" name="bee_name" required><br>
    <input type="submit" value="Submit">
  </form>
<br/>
{% endblock %}