{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bees{% endblock %}</h1>
    <a class = "select" href="{{ url_for('bee.create') }}">Create Bee</a>
{% endblock %}

{% block content %}
<br>

<table>
  <thead>
    <tr>
      <th> Bee Id</th>
      <th> Bee Type</th>
      <th> Date of Birth</th>
      <th> Bee Name</th>
      <th> Update</th>
      <th> Delete</th>
    </tr>
  </thead>
  {% for r in rows %}
    <tbody>
      <tr>
        <td>{{ r.0 }}</td>
        {% if r[1] != 0 %}
          <td>{{ r[1] }}</td>
        {% else %}
          <td>NULL</td>
        {% endif %}
        </td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>
          <form action="{{ url_for('bee.update', bee_id=r.0) }}" method="get">
            <input type="submit" value="Update">
          </form>
        </td>
        <td>    
          <form action="{{ url_for('bee.delete', bee_id=r.0) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
          </form>
        </td>
      </tr>
    </tbody>
  {% endfor %}
</table>

{% endblock %}