{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bees{% endblock %}</h1>
    <a class = "select" href="{{ url_for('bee.create') }}">Create Bee</a>
{% endblock %}

{% block content %}
<p>DB is connected, create works -- update and delete are non-functional</p>

<table>
  <thead>
    <tr>
      <th> Bee Id</th>
      <th> Bee Type</th>
      <th> Date of Birth</th>
      <th> Bee Name</th>
      <th> update // delete</th>
    </tr>
  </thead>
  {% for r in rows %}
    <tbody>
      <tr>
        <td>{{ r.0 }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x  </td>
      </tr>
    </tbody>
  {% endfor %}
</table>

{% endblock %}