{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Bee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="updateBee" action="/{{bee[0]}}/updateBee" method="POST">
    Bee Type: <select name="bee_type">
        <option value="None"> None</option>
      {% for type in types %}
        {% if type[0] == bee[1] %}
        <option value="{{type[0]}}" selected> {{ type[0] }} - {{ type[1] }} </option>
        {% else %}
        <option value="{{type[0]}}"> {{ type[0] }} - {{ type[1] }} </option>
        {% endif %}
      {% endfor %}
    </select>
    <br>
    Date of Birth: <input type="date" name="dob" value = "{{bee[2]}}" required><br>
    Bee Name: <input type="text" name="bee_name" value = "{{bee[3]}}" required><br>
    <input type="submit" value="Update">
  </form>
<br/>
{% endblock %}