{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bee Types{% endblock %}</h1>
    <a class = "select" href="{{ url_for('bee_type.create') }}">Create Bee Type</a>
{% endblock %}

{% block content %}
<p>DB is connected, CRD works -- U is non functional</p>

<table>
  <thead>
    <tr>
      <th> Type Id</th>
      <th> Type Name</th>
      <th> Age</th>
      <th> Description</th>
      <th> Update</th>
      <th> Delete</th>
    </tr>
  </thead>
  {% for r in rows %}
    <tbody>
      <tr>
        <td>{{ r.0 }}</td>
        {% if r[1] != 0 %}
          <td>{{ r[1] }}</td>
        {% else %}
          <td>NULL</td>
        {% endif %}
        </td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>
          <form action="{{ url_for('bee_type.update', type_id=r.0) }}" method="GET">
            <input type="submit" value="Update">
          </form>
        </td>
        <td>
          <form action="{{ url_for('bee_type.delete', type_id=r.0) }}" method="POST">
            <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
          </form>
        </td>
      </tr>
    </tbody>
  {% endfor %}
</table>

{% endblock %}