{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bee Types{% endblock %}</h1>
    <a class = "select" href="{{ url_for('bee_type.create') }}">Create Bee Type</a>
{% endblock %}

{% block content %}
<p>DB is not connected, create, update, and delete non-functional</p>
<p>This table is static and will be replaced with a dynamic table </p>

<table>
  <thead>
    <tr>
      <th> bee_id</th>
      <th> bee_Type</th>
      <th> dob</th>
      <th> bee_name</th>
      <th> update // delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>001</td>
      <td>03</td>
      <td>11/29/1995</td>
      <td>Honey Bo</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x  </td>
    </tr>
    <tr>
      <td>002</td>
      <td>07</td>
      <td>2/4/1998</td>
      <td>Buzz McFly</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x  </td>
    </tr>
  </tbody>
</table>

{% endblock %}