<!doctype html>
<title>{% block title %}{% endblock %} - cs340_db </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>
  <a id="beehive_header" href="{{ url_for('home.index') }}" > <u>Beehive Database</u></a>
  </h1>
  <a id="beehive_header" href="{{ url_for('bee.index') }}">Bees</a>
  <a>&emsp;</a>
  <a id="beehive_header" href="{{ url_for('cell.index') }}">Cells</a>
  <a>&emsp;</a>
  <a  id="beehive_header" href="{{ url_for('task.index') }}">Tasks</a>
  <a>&emsp;</a>
  <a id="beehive_header" href="{{ url_for('bee_type.index') }}">Bee Types</a>
  <a>&emsp;</a>
  <a id="beehive_header" href="{{ url_for('bee_task.index') }}">Bee Tasks</a>
  <a>&emsp;</a>
  <a id="beehive_header" href="{{ url_for('task_cell.index') }}">Task Cells</a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>