{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}


{% block content %}

<script>
  var entityAttributes = {
    "Bees": ["bee_id", "bee_type", "bee_name"],
    "Cells": ["cell_id", "cell_type", "location", "size"],
    "Tasks": ["task_id", "task_type", "assignment_length"],
    "Bee_Types": ["type_id", "type_name", "age"],
    "Bee_Tasks": ["bee_id", "task_id"],
    "Task_Cells": ["task_id", "cell_id"]
  }
  window.onload = function() {
    var ent = document.getElementById("entity");
    var att = document.getElementById("attribute");
    for (var x in entityAttributes) {
      ent.options[ent.options.length] = new Option(x);
    }
    ent.onchange = function() {
      att.length = 1;
      var y = entityAttributes[ent.value];
      for (var i = 0; i < y.length; i++) {
        att.options[att.options.length] = new Option(y[i]);
      }
    }
  }
  function checkValues() {
    var ent = document.getElementById("entity")
    var att = document.getElementById("attribute")
    if (ent.value === "null" || att.value === "null") {
      alert("Please select an entity and attribute.")
      return false;
    }
    return true;
  }
</script>

  <div>
    <form action="{{ url_for('search.results') }}" onsubmit="return checkValues()" method="GET">
      Entity:
      <select name="entity" id="entity">
        <option value=null selected disabled>Select entity</option>
      </select>
      <br>
      Attribute:
      <select name="attribute" id="attribute">
        <option value=null selected disabled>Select attribute</option>
      </select>
      <br>
      Value:
      <input type="text" name="search_term">
      <br>
      <button action="submit" method="GET">Search</button>
    </form>

  </div>

{% endblock %}
